SESSION_SECRET=drak-gpt-session-secret-alizz-2026-random-panjang
API_KEY_ENCRYPTION_SECRET=drak-gpt-api-key-encryption-secret-alizz-2026-random-panjang
DEFAULT_ADMIN_USERNAME=alizzadmin
DEFAULT_ADMIN_PASSWORD=alizzadmin123
AI_DEFAULT_API_URL=https://api.wormgpt.pw/v1/chat/completions
AI_DEFAULT_API_KEY=isi_api_key_ai_kamu
AI_DEFAULT_MODEL=
NODE_ENV=production
APP_BASE_URL=https://alizz.my.id
