DATABASE_URL=connection_string_dari_neon
SESSION_SECRET=drak-gpt-session-secret-alizz-2026-random-panjang
API_KEY_ENCRYPTION_SECRET=drak-gpt-api-key-encryption-secret-alizz-2026-random-panjang
DEFAULT_ADMIN_USERNAME=alizzadmin
DEFAULT_ADMIN_PASSWORD=alizzadmin123
AI_DEFAULT_API_URL=https://api.wormgpt.pw/v1/chat/completions
AI_DEFAULT_API_KEY=api_key_ai_kamu
NODE_ENV=production
APP_BASE_URL=https://alizz.my.id
